:root {
  --color-light: #eeeed2;
  --color-dark: #769656;
  --color-highlight: rgba(255, 255, 0, 0.4);
  --color-sidebar-bg: #302e2b;
  --color-sidebar-text: hsla(0, 0%, 100%, 0.72);
  --color-sidebar-button-bg: #262421;
  --color-sidebar-button-hover: rgba(255, 255, 255, 0.1);
}
